<mat-drawer-container class="example-container" autosize>

  <mat-drawer #drawer class="example-sidenav" mode="side">

    <div class="icon-container">
      <div class="row justify-content-center side-nav">
        <img src="../../assets/weather.svg" alt="Weather icon" width="35px">
      </div>
      <div class="row justify-content-center">
        <p class="icon-label">Weather</p>
      </div>
    </div>

    <div class="icon-container">
      <div class="row justify-content-center side-nav">
        <img src="../../assets/calendar.svg" alt="Calendar icon" width="28px">
      </div>
      <div class="row justify-content-center">
        <p class="icon-label">Calendar</p>
      </div>
    </div>

    <div class="icon-container">
      <div class="row justify-content-center side-nav">
        <img src="../../assets/notepad.svg" alt="Notepad icon" width="35px">
      </div>
      <div class="row justify-content-center">
        <p class="icon-label">Notes</p>
      </div>
    </div>

  </mat-drawer>

  <div class="example-sidenav-content">
    <button class="open-nav" type="button" mat-button (click)="drawer.toggle(); flipArrow()">
      <img *ngIf="flippedArrow === false" src="../../assets/double-right-arrow.svg" alt="Open sidenav icon" width="20px">
      <img *ngIf="flippedArrow === true" src="../../assets/double-left-arrow.svg" alt="Open sidenav icon" width="20px">
      <div class="row">
        <p class="menu">Menu</p>
      </div>
    </button>
  </div>

</mat-drawer-container>
  <div class="col time">
    <app-date-pipe></app-date-pipe>
  </div>
