<div class="coffee-head">
  <img class= "coffee-photo d-flex justify-content-center" src="https://g.foolcdn.com/editorial/images/421803/coffee-with-froth-design-and-coffee-beans_soHhApC.jpg" alt="Latte with latte art and coffee beans">
</div>
<div class="row">
  <div class="col">
    <nav class="main-navbar navbar navbar-expand-sm navbar-light">
      <button class="navbar-toggler" (click)="collapse=!collapse" type="button" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse" (click)="collapse=true" [hidden]="collapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Reminders</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Weather</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">NotePad</a>
          </li>
        </ul>
      </div>
      </nav>
  </div>
  <div class="col time">
    <app-date-pipe></app-date-pipe>
  </div>
</div>