<mat-drawer-container class="example-container" autosize>

  <mat-drawer #drawer class="example-sidenav" mode="side">

    <div class="icon-container">
      <a routerLink="/" class="sidenav-link">
        <div class="row justify-content-center side-nav">
          <img src="../../assets/home.svg" alt="Weather icon" width="35px">
        </div>
        <div class="row justify-content-center">
          <p class="icon-label">Home</p>
        </div>
      </a>
    </div>

    <div class="icon-container">
      <a routerLink="/weather" class="sidenav-link">
        <div class="row justify-content-center side-nav">
          <img src="../../assets/weather.svg" alt="Weather icon" width="35px">
        </div>
        <div class="row justify-content-center">
          <p class="icon-label">Weather</p>
        </div>
      </a>
    </div>

    <div class="icon-container">
      <a routerLink="/calendar" class="sidenav-link">
        <div class="row justify-content-center side-nav">
          <img src="../../assets/calendar.svg" alt="Calendar icon" width="28px">
        </div>
        <div class="row justify-content-center">
          <p class="icon-label">Calendar</p>
        </div>
      </a>
    </div>

    <div class="icon-container">
      <a routerLink="/notepad" class="sidenav-link">
        <div class="row justify-content-center side-nav">
          <img src="../../assets/notepad.svg" alt="Notepad icon" width="35px">
        </div>
        <div class="row justify-content-center">
          <p class="icon-label">Notepad</p>
        </div>
      </a>
    </div>

  </mat-drawer>

  <div class="example-sidenav-content">
    <button class="open-nav" type="button" mat-button (click)="drawer.toggle(); flipArrow()">
      <img *ngIf="flippedArrow === false" src="../../assets/double-right-arrow.svg" alt="Open sidenav icon" width="20px">
      <img *ngIf="flippedArrow === true" src="../../assets/double-left-arrow.svg" alt="Open sidenav icon" width="20px">
      <div class="row">
        <p class="menu">Menu</p>
      </div>
    </button>

    <div class="component-container">
      <router-outlet></router-outlet>
    </div>
  </div>

</mat-drawer-container>

