<div class="container-fluid">
  <div class="row">
    <div class="col-md-7">
      <div class="form-group container input-fields">
        <label>Title</label>
        <input 
          placeholder=""
          type="text"
          #titleInput>
        <label>Notepad</label>
        <textarea 
          class="form-control notepad-textarea"
          rows="5"
          placeholder="What's on your mind?"
          #noteInput
        ></textarea>
        <button
          mat-flat-button 
          color="Accent"
          (click)="submitNote()"
        >Submit</button>
      </div>
    </div>
    <div class="col-md-5">
      <div class="note-sections">
        <ul class="list-group">
          <li 
          class="list-group-item all-notes"
          *ngFor="let notes of everyNote">
          {{ notes.title }} <br> {{ notes.note }}
          </li>
        </ul>

      </div>
  
    </div>
  </div>

</div>
